.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to left, #f46b45, #eea849);
	color: #fff;
	height: 50px;
	padding: 0px 1em ;
	position: sticky;
	top: 0px;
	z-index: 10000;
}

/* Убираем стандартные отступы у списка */
.menu {
	display: flex;
	list-style-type: none;
	margin: 0;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu > li {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	/* height: 100%; */
	margin: 0;
}

.menu li:hover {
	background: rgb(101, 100, 100);
}

.menu li a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	height: 100%;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10001;
}

.menu-button {
	display: block;
	background-color: #fff;
	position: relative;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before,
.menu-button::after {
	content: '';
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	top: -8px;
}

.menu-button::after {
	top: 8px;
}

/* Открытое состояние бургера */
.menu-button.open {
	background: rgba(255, 255, 255, 0);
}

.menu-button.open::before {
	top: 0;
	transform: rotate(405deg);
}

.menu-button.open::after {
	top: 0;
	transform: rotate(-405deg);
}

@media (max-width: 700px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		display: flex;
		position: fixed;
		top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		background-color: #222;
		height: 0;
		overflow: hidden;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		padding-left: 0; /* Убираем левый отступ для мобилок */
		align-items: center;
		justify-content: start;
	}

	.menu.open {
		height: calc(100vh - 50px);
	}

	.menu > li {
		width: 100%;
		justify-content: center;
		padding: 1em 0;
		opacity: 0;
		transition: all 400ms ease;
	}

	.menu.open > li {
		opacity: 1;
		transform: translateY(0);
		transition-delay: 200ms;
	}

	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

@media (min-width: 701px) {
	.menu-button-container {
		display: none !important;
	}
}

.block-logo {
	display: flex;
	align-items: center;
}

.block-logo img {
	width: 35px;
}

/* Общие стили для всех пунктов меню */
.menu li {
	width: 100%;
}

.menu li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding:  5px 0px;
}

/* Для десктопной версии */
@media (min-width: 701px) {
	.menu li {
		width: auto;
	}

	.menu li a {
		display: block;
		width: auto;
		/* padding: 10px 0px; */
	}
}

/* Для мобильной версии */
@media (max-width: 700px) {
	.menu > li {
		padding: 0 !important;
	}

	.menu > li a {
		padding: 1em 0;
	}
}

.menu li:hover {
	background: rgb(101, 100, 100);
}

/* Заменяем hover на активное состояние для мобилок */
@media (max-width: 700px) {
	.menu li:active {
		background: rgb(101, 100, 100);
	}
}

@media (max-width: 700px) {
	.menu > li {
		transition: all 400ms ease;
		opacity: 0;
		transform: translateY(-10px);
	}

	.menu.open > li {
		opacity: 1;
		transform: translateY(0);
	}
}
